#info-category{
    font-weight: bold;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#intro-card{
    font-weight: bold;
}

#profile-card-action{
    text-decoration: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.card .card-title{
    font-weight: bold;
}

.card-action a{
    font-style: italic;
    color: brown; /*materialize not allowing this to go through*/
    text-decoration: underline;
}

#friendfinder-img{
    border: 1px solid gray;
}