/*body{
    background-image: url('../images/port_unsplash1.jpg');
}*/
/*body,
html {
  padding: 0;
  margin: 0;
}*/

#info-category {
  font-weight: bold;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#intro-card {
  font-weight: bold;
}

/*#profile-card-action {
  text-decoration: none;
  width: 60%;
  display: flex;
  justify-content: space-around;
}*/

.card .card-title {
  font-weight: bold;
}

.card-action a {
  font-style: italic;
  color: brown; /*materialize not allowing this to go through*/
  text-decoration: underline;
}

#friendfinder-img {
  border: 1px solid gray;
}

ul.skills {
  list-style-type: disc;
}

.skills li {
  display: inline;
}

.collapsible-header:hover {
  background-color: #bfbfbf;
}

.collapsible-header:focus {
  background-color: #bfbfbf;
}

.section-headers {
  background-color: #cacae4;
  height: 100%;
}

/*nav {
  margin-top: 15px;
}*/

div.center {
  margin-bottom: 0;
  /*padding-bottom: 0;*/
}

div.center .card {
  margin-bottom: 0;
  /*padding-bottom: 0;*/
}

div.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

i.icon-blue {
  color: #1a729d;
}

a.modal-trigger {
  background-color: #c65047;
}

a.modal-trigger:hover {
  background-color: #f39992;
}

#links-profile {
  font-size: 1.35rem;
  font-weight: bold;
}

i.icon-teal {
  color: #9d121e;
}

.portfolio-title {
  color: black;
}

div.about {
  /* */
}

#my-info li p {
  display: inline-block;
}

#my-info li span {
  margin-left: 50px;
  font-size: 1rem;
  font-weight: 500;
}

#links-profile {
  display: block;
}

.links-icons li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 760px) {
  /* For mobile phones: 
  [class*="col s12 m3"] {
    width: 100%;
  }

  [class*="col s12 m6"] {
    width: 100%;
  }
  */
}
